@use "sass:list";
@use "sass:string";

// prettier-ignore
@mixin prettier-ignore { @content }

// board colors

$light-square: #f0d9b5;
$dark-square: #b58863;

// piece colors

$red-highlight: #e57373;
$red-base: #c62828;
$red-edge: #8e0000;

$black-highlight: #5f6368;
$black-base: #212121;
$black-edge: #0d0d0d;

// semantic variables

$z-bot: 100;
$z-low: 200;
$z-mid: 300;
$z-hig: 400;
$z-top: 500;

$light: 1;
$empty: 0;
$dark: -1;

$true: 1;
$false: 0;
$nil: -1;

// if (a == b) { return 1 /*($true)*/ } else { return 0 /*($false)*/ }
@function is_eq($a, $b) {
  @return string.unquote("max(0, min(1, calc(1 - abs(#{$a} - #{$b}))))");
}

// OPTIMIZE: compiled file size, short variable names

$z-pos: --zp;
$z-blocker: --zb;
$z-blockers: ();
$z-source: --c;
// template name, unused
$square-state: --q;
$square-states: ();
@for $square from 1 through 32 {
  $square-states: list.append($square-states, #{$square-state}#{$square});
  $z-blockers: list.append($z-blockers, #{$z-blocker}#{$square});
}
$selected-source: --sc;
$selected-source-mod-8: --s8;
$selected-source-mod-4: --s4;
$selected-piece: --sp;

// valid moves
$light-left: --mvll;
$light-right: --mvlr;
$dark-left: --mvdl;
$dark-right: --mvdr;
$light-left-jump: --mvllj;
$light-right-jump: --mvlrj;
$dark-left-jump: --mvdlj;
$dark-right-jump: --mvdrj;

$turn: --t;
$king-selected: --iks;
// template name, unused
$dead-piece: --d;
$dead-pieces: ();
// template name, unused
$king: --k;
$kings: ();
@for $piece from 1 through 24 {
  $dead-pieces: list.append($dead-pieces, #{$dead-piece}#{$piece});
  $kings: list.append($kings, #{$king}#{$piece});
}
$is-dead: --id;
$is-king: --ik;

@mixin number($name, $initial-value: 0) {
  @if string.slice($name, 1, 2) == "--" {
    $name: string.slice($name, 3);
  }
  @property --#{$name} {
    syntax: "<number>";
    inherits: true;
    initial-value: $initial-value;
  }
}

@include number($turn);

// although squares are 1 indexed,
// source must default to a negative number because 0 will match a piece to empty squares
@include number($selected-source, -1);
// dev tools will hide a @property variable when it's declaration matches it's `initial-value` unless/until the value is changed
@include number($selected-piece, 0);

@include number($selected-source-mod-4);
@include number($selected-source-mod-8);

@include number($light-left);
@include number($light-right);
@include number($dark-left);
@include number($dark-right);
@include number($light-left-jump);
@include number($light-right-jump);
@include number($dark-left-jump);
@include number($dark-right-jump);

@for $square from 1 through 32 {
  @include number(list.nth($z-blockers, $square));
}

.game-container {
  position: relative;
  width: 100%;
  height: 640px;

  #{$z-pos}: #{$z-bot}; // bot or hig
  #{$z-blocker}: #{$z-low}; // low or top
  #{$z-source}: #{$z-mid}; // fixed
  @for $square from 1 through 32 {
    #{list.nth($square-states, $square)}: $empty;
    #{list.nth($z-blockers, $square)}: $z-low;
  }

  @for $piece from 1 through 24 {
    #{list.nth($dead-pieces, $piece)}: $false;
    #{list.nth($kings, $piece)}: $false;
  }

  #{$selected-source}: $nil;
  #{$selected-source-mod-8}: mod(var(#{$selected-source}), 8);
  #{$selected-source-mod-4}: mod(var(#{$selected-source}), 4);

  // get square state of selected source (light, dark, empty)
  $sq-check: "";
  @for $var from 2 through 32 {
    $sq-check: "#{$sq-check} + (max(0, 1 - abs(var(#{$selected-source}) - abs(var(#{list.nth($square-states, $var)})) * #{$var}))) * var(#{list.nth($square-states, $var)})";
  }
  // prettier-ignore
  #{$selected-piece}: calc(
    max(0, 1 - (abs(var(#{$selected-source})
      - abs(var(#{list.nth($square-states, 1)})) * 1)))
      * var(#{list.nth($square-states, 1)}) #{$sq-check}
  );

  #{$turn}: $light;
  #{$king-selected}: $false;

  // legal move section, defined by setting z-index of blockers to $z-bot

  // TODO: bad behavior: $selected-source == -1 -> -1 % 4 = 3, -1 % 8 = 7
  // need to add a check for that
  $s8: $selected-source-mod-8;
  $s4: $selected-source-mod-4;

  // used to ensure all moves are 0 when $selected-source == -1 ($nil)
  $is-square-selected: --iqs;
  #{$is-square-selected}: clamp($false, var(#{$selected-source}), $true);

  // determine valid moves based on relative position to selected square
  // not applying turn, piece color, captures, or obstructing pieces just yet.

  // s = $selected-source % (8 or 4)
  // special case: 0 is matched by (s < n) and (s == 0) so matching multiplier had to be adjusted

  // if (s < 5) { s - 4 } if (s > 5) { s - 5 } if (s == 0) { s - 1 /* -5 total */ }
  // prettier-ignore
  #{$light-left}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      - 4 * clamp(0, calc(5 - var(#{$s8})), 1)
      - 5 * clamp(0, calc(var(#{$s8}) - 5), 1)
      - 1 * max(0, calc(1 - var(#{$s8})))
  ));

  // if (s < 4) { s - 3 } if (s > 4) if (s == 0) { s - 1 /* -4 total */ }
  // prettier-ignore
  #{$light-right}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      - 3 * clamp(0, calc(4 - var(#{$s8})), 1)
      - 4 * clamp(0, calc(var(#{$s8}) - 4), 1)
      - 1 * max(0, calc(1 - var(#{$s8})))
  ));

  // if (s < 4) { s + 5 } if (s > 4) { s + 4 } if (s == 0) { s - 1 /* +4 total */ }
  // prettier-ignore
  #{$dark-left}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      + 5 * clamp(0, calc(4 - var(#{$s8})), 1)
      + 4 * clamp(0, calc(var(#{$s8}) - 4), 1)
      - 1 * max(0, calc(1 - var(#{$s8})))
  ));

  // if (s < 5) { s + 4 } if (s > 5) { s + 3 } if (s == 0) { s - 1 /* +3 total */ }
  // prettier-ignore
  #{$dark-right}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      + 4 * clamp(0, calc(5 - var(#{$s8})), 1)
      + 3 * clamp(0, calc(var(#{$s8}) - 5), 1)
      - 1 * max(0, calc(1 - var(#{$s8})))
  ));

  // captures

  // if (s > 1) { s - 9 } if (s == 0) { s - 9 }
  // prettier-ignore
  #{$light-left-jump}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      - 9 * clamp(0, calc(var(#{$s4}) - 1), 1)
      - 9 * max(0, calc(1 - var(#{$s4})))
  ));

  // if (s > 0) { s - 7 }
  // prettier-ignore
  #{$light-right-jump}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      - 7 * clamp(0, calc(var(#{$s4})), 1)
  ));

  // if (s > 0) { s + 9 }
  // prettier-ignore
  #{$dark-left-jump}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      + 9 * clamp(0, calc(var(#{$s4})), 1)
  ));

  // if (s > 1) { s + 7 } if (s == 0) { s + 7 }
  // prettier-ignore
  #{$dark-right-jump}: calc(
    var(#{$is-square-selected}) * (
    var(#{$selected-source})
      + 7 * clamp(0, calc(var(#{$s4}) - 1), 1)
      + 7 * max(0, calc(1 - var(#{$s4})))
  ));

  $nil-square-selected: --nqs;
  #{$nil-square-selected}: clamp(-1, var(#{$selected-source}), 1);
  // bottom when selected piece = nil, top when any legal move matches index
  @for $blocker from 1 through 32 {
    // destinations, the source is in the opposite direction than the names imply
    // prettier-ignore
    @include prettier-ignore {
      $ll: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$light-left})))");
      $lr: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$light-right})))");
      $dl: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$dark-left})))");
      $dr: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$dark-right})))");
      $llj: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$light-left-jump})))");
      $lrj: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$light-right-jump})))");
      $dlj: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$dark-left-jump})))");
      $drj: string.unquote("- 1 - #{$z-top} * max(0, 1 - abs(#{$blocker} - var(#{$dark-right-jump})))");
    }

    // remove impossible move checks

    // from outside the board

    @if $blocker < 5 {
      $dl: "";
      $dr: "";
    }

    @if $blocker < 9 {
      $dlj: "";
      $drj: "";
    }

    @if $blocker > 24 {
      $llj: "";
      $lrj: "";
    }

    @if $blocker > 28 {
      $ll: "";
      $lr: "";
    }

    // edge cases

    // from beyond left edge

    @if $blocker % 8 == 4 {
      $ll: "";
      $dr: "";
      $llj: "";
      $drj: "";
    }

    @if $blocker % 8 == 1 {
      $lrj: "";
      $dlj: "";
    }

    // from beyond right edge

    @if $blocker % 8 == 5 {
      $lr: "";
      $dl: "";
      $lrj: "";
      $dlj: "";
    }

    @if $blocker % 8 == 0 {
      $llj: "";
      $drj: "";
    }

    // prettier-ignore
    #{list.nth($z-blockers, $blocker)}: calc(
      $z-top * var(#{$nil-square-selected})

        // block occupied squares
        // haven't found problems yet,
        // but the 2 prevents the clamp from evaluating to 0
        - #{$z-top}
        * abs(var(#{list.nth($square-states, $blocker)}))
        * clamp(-1, calc(1 - 2 * abs(var(#{$selected-source}) - #{$blocker})), 1)

        // unblock on source == empty square
        - #{$z-top} * 2
        * max(0,
            calc(1 - abs(var(#{$selected-source}) * var(#{$selected-piece}))))

        #{$ll}
        #{$lr}
        #{$dl}
        #{$dr}
        #{$llj}
        #{$lrj}
        #{$dlj}
        #{$drj}
    );
  }

  // update square state variables
  @for $square from 1 through 32 {
    &:has(.light-piece .pos:nth-of-type(#{$square}):checked) {
      #{list.nth($square-states, $square)}: $light;
    }
    &:has(.dark-piece .pos:nth-of-type(#{$square}):checked) {
      #{list.nth($square-states, $square)}: $dark;
    }
    &:has(.source:nth-of-type(#{$square}):checked) {
      #{$selected-source}: #{$square};
    }
  }

  // update piece state variables
  @for $piece from 1 through 24 {
    &:has(.piece:nth-of-type(#{$piece}) .dead:checked) {
      #{list.nth($dead-pieces, $piece)}: $true;
    }
    &:has(.piece:nth-of-type(#{$piece}) .king:checked) {
      #{list.nth($kings, $piece)}: $true;
    }
  }
}

// allow piece movement when coresponding source is checked
@for $source from 1 through 32 {
  .piece:has(.pos:nth-of-type(#{$source}):checked) {
    &:has(~ .sources > .source:nth-of-type(#{$source}):checked) {
      & .pos {
        z-index: $z-hig;
      }
    }
  }
}

@for $blocker from 1 through 32 {
  .blocker:nth-of-type(#{$blocker}) {
    z-index: var(list.nth($z-blockers, $blocker));
  }
}

// TODO: display king
.piece:has(.king:checked) .pos:checked {
  background: green;
}

.board-display {
  position: absolute;
  height: 100%;
  width: 640px;
  background-color: $light-square;

  $even-img: linear-gradient(90deg, $dark-square 50%, $light-square 50%);
  $odd-img: linear-gradient(90deg, $light-square 50%, $dark-square 50%);
  & > .strip {
    width: 100%;
    height: calc(100% / 8);
    background-size: calc(100% / 4) 100%;
  }
  & > .strip:nth-of-type(2n) {
    background-color: $light-square;
    background-image: $even-img;
  }
  & > .strip:nth-of-type(2n + 1) {
    background-color: $dark-square;
    background-image: $odd-img;
  }
}

.board {
  position: absolute;
  width: 640px;
  height: 640px;
  font-size: 0;
}

.dark-piece,
.light-piece {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

form.dark-piece {
}

form.light-piece {
}

input.dead {
}

input.king {
}

.dark-piece .pos:checked {
  background-image: radial-gradient(
    $black-base 50%,
    $black-highlight 52% 60%,
    $black-edge 62% 70%,
    transparent 72%
  );
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.light-piece .pos:checked {
  background-image: radial-gradient(
    $red-base 50%,
    $red-highlight 52% 60%,
    $red-edge 62% 70%,
    transparent 72%
  );
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.positions {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  place-items: center;
}

.pos {
  appearance: none;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  grid-column: span 2;
  justify-self: start;
  z-index: var($z-pos);
}

.pos:nth-child(8n + 1),
.pos:nth-child(8n + 2),
.pos:nth-child(8n + 3),
.pos:nth-child(8n + 4) {
  justify-self: end;
}

.sources {
  position: absolute;
  user-select: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.source {
  grid-column: span 2;
  width: 50%;
  aspect-ratio: 1/1;
  justify-self: start;
  z-index: calc(var($z-source) + 1); // above deselect
  opacity: 10%;
}

.source:nth-child(8n + 1),
.source:nth-child(8n + 2),
.source:nth-child(8n + 3),
.source:nth-child(8n + 4) {
  justify-self: end;
}

.deselect-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.deselect {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: var($z-source);
  opacity: 10%;
}

.blocker {
  position: relative;
  display: inline-block;
  margin: 0 calc(100% / 8) 0 0;
  width: calc(100% / 8);
  height: calc(100% / 8);
  background-color: green;
  opacity: 20%;
}

.blocker:nth-of-type(8n + 1),
.blocker:nth-of-type(8n + 2),
.blocker:nth-of-type(8n + 3),
.blocker:nth-of-type(8n + 4) {
  margin: 0 0 0 calc(100% / 8);
}
